# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node modules
node_modules/

# Build output
dist/
dist-ssr/
build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local Data
src/data/agendamentos.json

# Vite cache
.vite/
vite.config.ts.timestamp-*

# TypeScript cache
*.tsbuildinfo
tsconfig.tsbuildinfo

# Dependency directories
jspm_packages/

# Mac & Windows system files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# Misc
coverage/
*.tgz
*.zip