.logo {
  border-radius: 25px;
  width: 40px;
}

.menuOpcoes {
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
  cursor: pointer;
}

.menuOpcoes:hover {
  background-color: var(--chart-3);
  color: white;
}

.menuOpcoesAtivo {
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
  background-color: var(--chart-3);
  color: white;
  cursor: pointer;
}

.tema,
.sair {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  background: transparent;
}

.tema:hover {
  background-color: var(--chart-3);
  color: white;
}

.sair:hover {
  background-color: #ef4444;
  color: white;
}

.container {
  display: none;
}